/*
* @Author: admin
* @Date:   2018-09-20 10:20:34
* @Last Modified by:   admin
* @Last Modified time: 2018-09-29 14:23:38
*/
*{
	padding: 0px;
	margin: 0px;
	list-style: none;
}
a{
	text-decoration: none;
}
body{
	background-image: url('../images/body.jpg');
	color: #4a4a4a;
	background-repeat: no-repeat;
	background-size:100%;
	background-color:#000;
}
html{
	width:100%;
	height:100%;
}
.wrapper{
	width: 100%;
	height:100%;
}
.nav{
	width: 100%;
	height: 60px;
	background-color: rgba(255, 255, 255, 0.1);
	border-bottom: 1px solid #383939;
	
}
@media(max-width: 1200px){
	.nav{
		width: 1200px;
	}
	section{
		width: 1200px;
	}
}
.title{
	width: 100%;
	height: 60px;
	margin: 0px auto;
	position:relative;
}
.title img{
	margin-left: 40px;
	margin-top: 9px;
	float: left;
}
.left{
	width: 467px;
	height: 60px;
	float: left;
	margin-left: 30px;
}
.left ul li{
	float: left;
	margin-top: 18px;
	margin-left: 25px;
}
.left ul li a{
	font-size: 18px;
	color: #b5b5b5;
}
.left ul li a span{
	float: right;
}
.left ul li a:hover{
	color: #fff;
}
.right{
	width: 190px;
	height: 60px;
	float: right;
	margin-right: 40px;
}
.right ul li{
	float: left;
	margin-top: 18px;
	margin-left: 25px;
}
.right ul li a{
	font-size: 18px;
	color: #b5b5b5;
}
.right ul li a:hover{
	color:#fff;
}
.nav-bar{
	padding: ;
	top: 60px;
	width: 100%;
	height: 302px;
	background-color: #141922;
	border-bottom: 1px solid #383939;
	border-top: 1px solid #383939;
	position: absolute;
	display: none;
}
.nav-bar .biao{
	width: 14px;
	height: 14px;
	background-color: #141922;
	border-top: 1px solid #383939;
	border-left: 1px solid #383939;
	transform: rotate(45deg);
	position: absolute;
	top: -8px;
	left: 215px;
}
.nav-bar .option{
	width: 100%;
	height: 250px;
	border-bottom: 1px solid #383939;
}
.nav-bar .option .option_game{
	padding-left: 5%;
	box-sizing: border-box;
	width:100%;
	height: 250px;
	text-align: center
}
.nav-bar .option .option_game a{
	width: 13%;
	display: block;
	float: left;
}
.nav-bar .option .option_game a:nth-of-type(1){
	margin-left: 0px;
}
.nav-bar .option .option_game img{
	margin-left: 2%;
	margin-top: 35px;
	width: 80%;
	height: 178px;
	border: 1px solid #383939;
	opacity: 0.8;
}
.nav-bar .section{
	display: none;
	width: 51%;
	height: 30px;
	margin: 0px auto;
	margin-top: 10px;
}
.nav-bar .section ul li{
	float: left;
	margin-left: 40px;
	margin-top: 5px;
	cursor: pointer;
}
.nav-bar .section ul li:nth-of-type(1){
	margin-left: 0px;
}
.nav-bar .section ul li img{
	margin-top: 3px;
	float: left;
}
.nav-bar .section ul li a{
	color: #b5b7ba;
	margin-left: 5px;
}
.nav-bar .section ul li a:hover{
	color: #fff;
}
.nav-bar2{
	top: 60px;
	width: 100%;
	height: 302px;
	background-color: #141922;
	border-bottom: 1px solid #383939;
	border-top: 1px solid #383939;
	position: absolute;
	 display: none; 
}
.nav-bar2 .biao2{
	width: 14px;
	height: 14px;
	background-color: #141922;
	border-top: 1px solid #383939;
	border-left: 1px solid #383939;
	transform: rotate(45deg);
	position: absolute;
	top: -8px;
	left: 453px;
}
.nav-bar2 .option2{
	width: 100%;
	height: 250px;
	border-bottom: 1px solid #383939;
}
.nav-bar2 .option2 ul{
	width: 1120px;
	height: 250px;
	margin: 0px auto;
}
.nav-bar2 .option2 ul li{
	width: 17%;
	height: 192px;
	float: left;
	margin-left: 40px;
	cursor: pointer;
}
.nav-bar2 .option2 ul li:nth-of-type(1){
	margin-left:0px;
}
.nav-bar2 .option2 ul li img{
	margin-left: 0px;
	margin-top: 9px;
	width: 100%;
	height: 192px;
	opacity:0.9;
}
.nav-bar2 .option2 ul li a{
	display:block;
	text-align: center;
	font-size:13px;
	color:#b5b5b5;
}
.nav-bar2 .section2{
	display: none;
	text-align: center;
	width: 19%;
	height: 30px;
	margin: 0px auto;
	margin-top: 10px;
}
.nav-bar2 .section2  img{
	margin-top:3px;
	margin-right:10px;
	float:left;
}
.nav-bar2 .section2 a{
	font-size:15px;
	color: #b5b7ba;
	display:inline-block;
	margin-top:5px;
}
.option3{
	width:320px;
	height: 167px;
	background: #1C2431;
	position:absolute;
	top: 60px;
	right:0px;
	display:none;
}
.option3 img{
	margin-left: 0px;
}
.biao3{
	width: 14px;
	height: 14px;
	background-color: #1C2431;
	border-top: 1px solid #383939;
	border-left: 1px solid #383939;
	transform: rotate(45deg);
	position:absolute;
	top: -8px;
	right: 53px;
}
.sel ul{
	border: 1px solid #2D333f ;
}
.sel ul li{
	height: 43px;
	cursor: pointer;
	border-bottom: 1px solid #2D333f;
}
.sel ul li a{
	color: #b9babd;
	font-weight: 700;
	font-size: 15px;
	line-height: 43px;
	margin-left: 0;
}
.sel ul li:nth-of-type(1){
	height: 78px;
	overflow: hidden;
}
.sel ul li:nth-of-type(2){
	padding-left: 20px;
}
.sel ul li:nth-of-type(3){
	padding-left: 20px;
}
.sel ul li input{
	width: 276px;
	height: 36px;
	font-size: 15px;
	background: #0e86ca;
	border: 1px solid #00aeff;
	text-align: center;
	line-height: 36px;
	margin: 18px auto;
	display: block;
	color: #e5f2fa;
	opacity: 0.8;
	cursor: pointer
}
.sel ul li input:hover{
	opacity: 1;
}
section{
	width:1186px;
	padding-bottom:50px;
	margin:0px auto;
	overflow:hidden;
}
.cell{
	overflow:hidden;
}
.header{
	width:100%;
	height:112px;
	background-image:url('../images/zhanwang.png');
	background-repeat:no-repeat;
	margin-top:50px;
}
#one{
	width:858px;
	height:248px;
	background-image:url('../images/title.png');
	text-align:center;
	margin:0px auto;
	// background-color:skyblue;
}
#one h2{
	color:#91bfe5;
	font-size:36px;
	font-weight:bold;
}
#one p{
	line-height:30px;
	font-size:16px;
	font-weight:bold;
	color:#91bfe5;
	margin-top:20px;
}
#two{
	background-image:url('../images/xiongmao.png');
	width:1078px;
	height:345px;
	margin:0px auto;
	background-repeat:no-repeat;
	position:relative;
	// background-color:lime;
}
#two h2{
	margin-top:65px;
	font-size:22px;
	color:#fff;
	font-weight:200;
}
#two p{
	width:400px;
	color:#a2b0c2;
	margin-top:5px;
}
#two a{
	display:inline-block;
	margin-top:10px;
	margin-left:10px;
	font-size:12px;
	color:#2a3d45;
	// text-decoration:underline;
}
#two a:hover{
	text-decoration:underline;
}
#two span{
	cursor: pointer;
	text-align:center;
	line-height:38px;
	display:inline-block;
	width:200px;
	height:35px;
	background-color:#006a9b;
	border-radius:5px;
	color:#fff;
	font-size:12px;
	position:absolute;
	bottom:0px;
	right:240px;
}
#two span:hover{
	background-color:#009ee2;
}
#three{
	width:1078px;
	height:365px;
	margin-top:105px;
	background-image:url('../images/bg-update.png');
	background-repeat:no-repeat;
	// background-color:skyblue;
	margin:0px auto;
}
.content{
	width:410px;
	height:325px;
	float:right;
	margin-right:120px;
	color:#a2b0c2;
	line-height:30px;
	font-size:14px;
}
.content h2{
	margin-top:50px;
	display:block;
	font-size:22px;
	color:#fff;
	font-weight:200;
}
.content a{
	display:inline-block;
	margin-left:10px;
	font-size:12px;
	color:#2a3d45;
}
.content a:hover{
	text-decoration: underline;
}
#four{
	width:1078px;
	height:300px;
	background-image:url('../images/bg-community.jpg');
	background-repeat:no-repeat;
	background-position: right;
	// background-color:skyblue;
	margin:0px auto;
}
.content2{
	width:410px;
	height:325px;
}
.content2 h2{
	font-size:22px;
	color:#fff;
	font-weight:200;
}
.content2 a:hover{
	text-decoration: underline;
}
.content2 p{
	margin-top:5px;
	color:#a2b0c2;
}
.content2 .fanhui{
	display:inline-block;
	margin-left:10px;
	font-size:12px;
	color:#2a3d45;
	margin-top:10px;
}
#five{
	width:1078px;
	height:310px;
	background-image:url('../images/bg-social.jpg');
	background-repeat:no-repeat;
	margin:0px auto;
}
.content3{
	width:410px;
	height:325px;
	float: right;
	margin-right:120px;
	margin-top:30px;
}
.content3 h2{
	font-size:22px;
	color:#fff;
	font-weight:200;
}
.content3 p{
	margin-top:5px;
	color:#a2b0c2;
}
.content3 a{
	display:inline-block;
	margin-left:10px;
	font-size:12px;
	color:#2a3d45;
	margin-top:20px;
}
.content3 a:hover{
	text-decoration: underline;
}
#six{
	width:1078px;
	height:310px;
	background-image:url('../images/bottom.jpg');
	background-position:right;
	background-repeat:no-repeat;
	margin:0px auto;
}
.content4{
	width:410px;
	height:325px;
	margin-top:60px;
}
.content4 h2{
	margin-top:30px;
	font-size:22px;
	color:#fff;
	font-weight:200;
}
.content4 p{
	margin-top:5px;
	color:#a2b0c2;
}
.content4 a{
	display:inline-block;
	margin-left:10px;
	font-size:12px;
	color:#2a3d45;
	margin-top:15px;
}
.content4 a:hover{
	text-decoration: underline;
}
/* footer */
.footer{
	width: 100%;
	padding-top: 100px;
	padding-bottom: 56px;
}
.footer .footer_logo{
	width: 124px;
	height: 66px;
	margin: 0px auto;
}
.footer .change{
	width: 100%;
	height: 24px;
	margin-top: 34px;
	margin-bottom: 21px;
}
.footer .change .change_link{
	width: 500px;
	height: 23px;
	margin: 0px auto;
}
.footer .change .link{
	float: left;
	margin: 0px auto;
}
.footer .change .link a{
	color: #95a5b6;
	font-size: 17px;
}
.footer .change .link a:hover{
	color: #fff;
	transition: 1s;
}
.footer .change .link:nth-child(2):before{
	content: '';
	display: inline-block;
	width: 1px;
	height: 10px;
	margin: 0px 15px;
	background-color: #4d6885;
}
.footer .change .link:nth-child(3):before{
	content: '';
	display: inline-block;
	width: 1px;
	height: 10px;
	margin: 0px 15px;
	background-color: #4d6885;
}
.footer .change .link:nth-child(4):before{
	content: '';
	display: inline-block;
	width: 1px;
	height: 10px;
	margin: 0px 15px;
	background-color: #4d6885;
}
.footer .change .link:nth-child(5):before{
	content: '';
	display: inline-block;
	width: 1px;
	height: 10px;
	margin: 0px 15px;
	background-color: #4d6885;
}
.footer .change .link:nth-child(6):before{
	content: '';
	display: inline-block;
	width: 1px;
	height: 10px;
	margin: 0px 15px;
	background-color: #4d6885;
}
.footer .txt1{
	width: 100%;
	height: 19px;
	text-align: center;
	font-size: 13px;
	color: #3d5a7a;
}
.footer .txt2{
	width: 100%;
	height: 19px;
	margin-top: 5px;
	margin-bottom: 10px;
}
.footer .txt2 .double{
	width: 100px;
	height: 19px;
	margin: 0px auto;
	font-size: 13px;
}
.footer .txt2 .double a{
	color: #b3becb;
}
.footer .txt2 .double a:hover{
	color: #fff;
	transition: 1s;
}
.footer .txt2 .one{
	float: left;
}
.footer .txt2 .two:before{
	content: '';
	display: inline-block;
	width: 1px;
	height: 10px;
	margin: 0px 8px;
	background-color: #4d6885;
}
.footer .txt3{
	width: 100%;
	height: 19px;
}
.footer .txt3 .third{
	width: 470px;
	height: 19px;
	margin: 0px auto;
	font-size: 13px;
}
.footer .txt3 .third a{
	color: #3d5a7a;
}
.footer .txt3 .third a:hover{
	color: #fff;
	transition: 1s;
}
.footer .txt3 .third .one{
	float: left;
}
.footer .txt3 .third .two:before{
	content: '';
	display: inline-block;
	width: 1px;
	height: 10px;
	margin: 0px 8px;
	background-color: #4d6885;
}
.footer .txt4{
	width: 100%;
	height: 19px;
}
.footer .txt4 .four{
	width: 494px;
	height: 19px;
	margin: 0px auto;
	color: #3d5a7a;
	font-size: 13px;
}
.footer .txt4 .four .one{
	float: left;
}
.footer .txt4 .four .two:before{
	content: '';
	display: inline-block;
	width: 1px;
	height: 10px;
	margin: 0px 8px;
	background-color: #4d6885;
}
.footer .txt5{
	width: 100%;
	height: 19px;
}
.footer .txt5 .five{
	width: 465px;
	height: 19px;
	margin: 0px auto;
}
.footer .txt5 .five a{
	color:#95a5b6;
	font-size: 13px;
}
.footer .txt5 .five a:hover{
	color: #fff;
	transition: 1s;
}
.footer .txt5 .five .one{
	float: left;
}
.footer .txt5 .five .two:before{
	content: '';
	display: inline-block;
	width: 1px;
	height: 10px;
	margin: 0px 8px;
	background-color: #4d6885;
}
.footer .txt6{
	width: 100%;
	height: 19px;
}
.footer .txt6 .six{
	width: 456px;
	height: 19px;
	margin: 0px auto;
	color: #3d5a7a;
	font-size: 13px;
}
.footer .txt6 .six .one{
	float: left;
}
.footer .txt6 .six .two:before{
	content: '';
	display: inline-block;
	width: 1px;
	height: 10px;
	margin: 0px 8px;
	background-color: #4d6885;
}
.footer .footer_pic{
	width: 100%;
	height: 32px;
}
.footer .footer_pic .pic{
	width: 170px;
	height: 32px;
	margin: 0px auto;
}
.footer .tips{
	width: 100%;
	text-align: center;
	color: #3d5a7a;
	font-size: 13px;
}
