/*
* @Author: admin
* @Date:   2018-08-29 19:41:58
* @Last Modified by:   李金泉
* @Last Modified time: 2018-10-10 17:00:07
*/
*{
	padding: 0px;
	margin: 0px;
}
html{
	width: 100%;
	height: 100%;
}
body{
	width: 100%;
	height: 100%;
	font-family: Blizzard,Arial,Helvetica,Segoe UI Symbol,Segoe MDL2 Assets,微软雅黑,Microsoft YaHei,Hei SC,sans-serif;
 	background-image: url('../images/bgheader.jpg');
 	background-position: top center;
 	background-repeat: no-repeat;
 	background-size: 100% 100%;
    background-color: #012650;
} 
ul{
	overflow: hidden;
}

li{
	list-style: none;
}
a{
	text-decoration: none;
	color: #afc7e2;
}
a:hover{
	color: #fff;
}
.nav{
	z-index: 5;
	width: 100%;
	height: 60px;
	margin: 0px auto;
}
@media(max-width:1200px){
	.nav{
		width: 1200px;
	}
}
.title{
	width: 1423px;
	height: 60px;
	margin: 0px auto;
	position:relative;
	z-index: 5;
}
.jq-title{
	width: 100%;
	height: 1px;
	background: #2e5f9d;
}
.title img{
	margin-left: 73px;
	margin-top: 9px;
	float: left;
}
.left{
	width: 467px;
	height: 60px;
	float: left;
	margin-left: 30px;
}
.left ul li{
	float: left;
	margin-top: 18px;
	margin-left: 25px;
}
.left ul li a{
	font-size: 18px;
	color: #b1cae7;
}
.left ul li a span{
	float: right;
}
.left ul li a:hover{
	color: #fff;
}
.right{
	width: 190px;
	height: 60px;
	float: right;
	margin-right: 40px;
}
.right ul li{
	float: left;
	margin-top: 18px;
	margin-left: 25px;
}
.right ul li a{
	font-size: 18px;
	color: #b1cae7;
}
.right ul li a:hover{
	color:#fff;
}
.nav-bar{
	top: 60px;
	width: 100%;
	height: 302px;
	background-color: #141922;
	border-bottom: 1px solid #383939;
	border-top: 1px solid #383939;
	position: absolute;
	display: none;
}
.nav-bar .biao{
	width: 14px;
	height: 14px;
	background-color: #141922;
	border-top: 1px solid #383939;
	border-left: 1px solid #383939;
	transform: rotate(45deg);
	position: absolute;
	top: -8px;
	left: 247px;
}
.nav-bar .option{
	width: 100%;
	height: 250px;
	border-bottom: 1px solid #383939;
}
.nav-bar .option .option_game{
	padding-left: 5%;
	box-sizing: border-box;
	width:100%;
	height: 250px;
	text-align: center
}
.nav-bar .option .option_game a{
	width: 13%;
	display: block;
	float: left;
}
.nav-bar .option .option_game a:nth-of-type(1){
	margin-left: 0px;
}
.nav-bar .option .option_game img{
	margin-left: 2%;
	margin-top: 35px;
	width: 80%;
	height: 178px;
	border: 1px solid #383939;
	opacity: 0.8;
}
.nav-bar .section{
	display: none;
	width: 62%;
	height: 30px;
	margin: 0px auto;
	margin-top: 10px;
}
.nav-bar .section ul li{
	float: left;
	margin-left: 40px;
	margin-top: 5px;
	cursor: pointer;
}
.nav-bar .section ul li:nth-of-type(1){
	margin-left: 0px;
}
.nav-bar .section ul li img{
	margin-top: 3px;
	float: left;
}
.nav-bar .section ul li a{
	color: #b5b7ba;
	margin-left: 5px;
}
.nav-bar .section ul li a:hover{
	color: #fff;
}
.nav-bar2{
	top: 60px;
	width: 100%;
	height: 302px;
	background-color: #141922;
	border-bottom: 1px solid #383939;
	border-top: 1px solid #383939;
	position: absolute;
	 display: none; 
}
.nav-bar2 .biao2{
	width: 14px;
	height: 14px;
	background-color: #141922;
	border-top: 1px solid #383939;
	border-left: 1px solid #383939;
	transform: rotate(45deg);
	position: absolute;
	top: -8px;
	left: 481px;
}
.nav-bar2 .option2{
	width: 100%;
	height: 250px;
	border-bottom: 1px solid #383939;
}
.nav-bar2 .option2 ul{
	width: 1120px;
	height: 250px;
	margin: 0px auto;
}
.nav-bar2 .option2 ul li{
	width: 17%;
	height: 192px;
	float: left;
	margin-left: 40px;
	cursor: pointer;
}
.nav-bar2 .option2 ul li:nth-of-type(1){
	margin-left:0px;
}
.nav-bar2 .option2 ul li img{
	margin-left: 0px;
	margin-top: 9px;
	width: 100%;
	height: 192px;
	opacity:0.9;
}
.nav-bar2 .option2 ul li a{
	color: #b5b5b5;
	display:block;
	text-align: center;
	font-size:13px;

}
.nav-bar2 .section2{
	display: none;
	text-align: center;
	width: 18%;
	height: 30px;
	margin: 0px auto;
	margin-top: 10px;
}
.nav-bar2 .section2  img{
	margin-top:3px;
	margin-right:10px;
	float:left;
}
.nav-bar2 .section2 a{
	font-size:15px;
	color: #b5b7ba;
	display:inline-block;
	margin-top:5px;
}
.option3{
	width:320px;
	height: 167px;
	background: #1C2431;
	position:absolute;
	top: 60px;
	right:0px;
	display:none;
}
.option3 img{
	margin-left: 0px;
}
.biao3{
	width: 14px;
	height: 14px;
	background-color: #1C2431;
	border-top: 1px solid #383939;
	border-left: 1px solid #383939;
	transform: rotate(45deg);
	position:absolute;
	top: -8px;
	right: 53px;
}
.sel ul{
	border: 1px solid #2D333f ;
}
.sel ul li{
	height: 43px;
	cursor: pointer;
	border-bottom: 1px solid #2D333f;
}
.sel ul li a{
	color: #b9babd;
	font-weight: 700;
	font-size: 15px;
	line-height: 43px;
	margin-left: 0;
}
.sel ul li:nth-of-type(1){
	height: 78px;
	overflow: hidden;
}
.sel ul li:nth-of-type(2){
	padding-left: 20px;
}
.sel ul li:nth-of-type(3){
	padding-left: 20px;
}
.sel ul li input{
	width: 276px;
	height: 36px;
	font-size: 15px;
	background: #0e86ca;
	border: 1px solid #00aeff;
	text-align: center;
	line-height: 36px;
	margin: 18px auto;
	display: block;
	color: #e5f2fa;
	opacity: 0.8;
	cursor: pointer
}
.sel ul li input:hover{
	opacity: 1;
}
.jq-wrap,.lis,.jq-content,.jq-footer{
	width: 1423px;
	margin: 0px auto;
}
.lis{
	height: 39px;
}
.jq-lis{
	width: 100%;
	height: 1px;
	background-color: #2e5f9d;
}
.list{
	width: 1270px;
	height: 39px;
	margin: 0px auto;
}
.list li{
	float: left;
	margin-right: 30px;
	font-size: 14px;
	height: 39px;
	line-height: 39px;
	border-bottom: 3px solid transparent;
}
.list li:nth-of-type(1){
	border-bottom: 3px solid #00adfe;
}
.zero{
	width: 100%;
	height: 60px;
}
.part{
	width: 1270px;
	height: 290px;
	margin: 0px auto;
}
.part div{
	width: 295px;
	float: left;
	background-color: #004078;
	cursor: pointer;
	overflow: hidden;
}
.part .pn{
	margin-right: 30px;
}
.pic img{
	width: 295px;
	height: 147px;
	display: block;
	position:relative;
	transition:all 0.5s;
}
.pic:hover img{
	transform:scale(1.1,1.1);
}

.nvb{
	width: 100%;
	border-top: 1px solid #353940;
	border-bottom: 1px solid #353940;
	color: #b9babe;
}
.nvb_n{
	width: 1270px;
	margin: 0px auto;
	padding-left: 350px;
	padding-top: 15px;
	padding-bottom: 15px;
}
.nvb_n li{
	float: left;
	margin-left: 80px;
}
.nvb_n img{
	position: relative;
	top: 4px;
 	right: 5px;
}
.part .txt{
	width: 235px;
	height: 83px;
	padding: 30px;
	border: 0px;
	font-weight: 600;
	overflow: hidden;
}
.part p{
	font-size: 14px;
	color: #47739b;
	margin-bottom: 14px;
}
.part span{
	width: 235px;
	font-size: 18px;
	color: #fff;
}
.zero_a{
	width: 100%;
	height: 59px;
	border-bottom: 1px solid #2e5f9d;
	clear: both;
}
.title1{
	width: 1200px;
	margin: 0px auto;
	color: #fff;
}
.zero_b{
	height: 55px;
}
.title h2{
	font-size: 24px;
	color: #fff;
}
.zero_c{
	height: 25px;
}
.article{
	width: 1200px;
	height: 165px;
	border-top: 1px solid #2e5f9d;
	margin: 0px auto;
	overflow: hidden;
	cursor: pointer;
	opacity: 0.9;
}
.article:hover{
	opacity: 1;
}
.article_a{
	width: 1200px;
	height: 175px;
	border-top: 1px solid #2e5f9d;
	margin: 0px auto;
	overflow: hidden;
	cursor: pointer;
	opacity: 0.9;
}
.article_a:hover{
	opacity: 1;
}
.article_t{
	margin: 20px auto;
	position: relative;
}
.img_a{
	width: 240px;
	height: 120px;
	border: 1px solid #2e5f9d;
	float: left;
}
.img_b{
	font-weight: 800;
}
.font{
	width: 900px;
	margin-top: 5px;
	position: absolute;
	left: 270px;
}
.font p,span{
	font-size: 14px;
	color: #47739b;
}
.font h2{
	color: #fff;
	font-size: 22px;
	margin-bottom: 15px;
}
.font_a{
	margin-bottom: 15px;
}
.article_a .font_a{
	margin-bottom: 10px;
}
.font b{
	color:#0095df
}
.font span{
	position: absolute;
}
.zero_d{
	width: 1200px;
	height: 19px;
	border-top: 1px solid #2e5f9d;
	margin: 0px auto;
}
.y{
	display: none;
}
.yy{
	display: none;
}
.yyy{
	display: none;
}
.clk{
	width: 100%;
}
.more{
	width: 192px;
	height: 46px;
	border: 1px solid #00aeff;
	background-color: #0e86ca;
	color: #fff;
	font-size: 18px;
	text-align: center;
	line-height: 46px;
	cursor: pointer;
	margin: 0px auto;
}
.zero_e{
	width: 100%;
	height: 80px;
}
.logo{
	width: 100%;
}
.logo img{
	width: 124px;
	height: 66px;
}
.lo{
	width: 124px;
	height: 66px;
	margin: 30px auto;
}
.ban{
	width: 100%;
	text-align: center;
	color: #afbbc8;
}
.footer{
	width: 100%;
}
.footer p{
	text-align: center;
	font-size: 14px;
	color: #486381;
}
.footer .one{
	color: #8fbbc8;
	margin-bottom: 10px;
}
.footer img{
    position: relative;
    top: 5px;
    margin-right: 5px;
}
.zero_f{
	width: 100%;
	height: 55px;
}